<!DOCTYPE>
<html ng-app>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <title>Contact list app</title>
</head>

<body>
    <div class="container" ng-controller="AppCtrl">
        <h1>Contact List App</h1>
        <table class ="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Number</th>
                    <th>Action</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class="form-control" 
                    ng-model="contact.name"></td>
                    <td><input class="form-control" 
                    ng-model="contact.email"></td>
                    <td><input class="form-control" 
                    ng-model="contact.number"></td>
                    <td><button class="btn btn-primary" ng-click="addContact()">Add Contact</button></td>
                    <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button
                    class = "btn btn-info" ng-click="deselect()">Clear</button>
                    </td>
                    
                </tr>
                <tr ng-repeat="contact in contactlist">
                    <td>{{contact.name}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.number}}</td>
                    <td><button class="btn btn-danger" ng-click="remove(contact._id)">Remove</button></td>
                    <td><button class="btn btn-warning" ng-click="edit(contact._id)">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
<script src="controllers/controller.js"></script>
</html>