<!DOCTYPE html>
<html ng-app lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700' rel='stylesheet' type='text/css'>
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
  <nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper ">
      <a id="logo-container" class="brand-logo" href="#"><h5>&nbsp;&nbsp;&nbsp;&nbsp;sitDrive</h5></a>
      <a class="dropdown-button right " data-beloworigin="true" href="#!" data-activates="dropdown2"><i class="mdi-navigation-arrow-drop-down right material-icons">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; person &nbsp;&nbsp;</i></a>
      <a href="#" data-activates="nav-mobile dropdown-button" class="mobile button-collapse"><i class="material-icons">menu</i></a>
    </div>
    <ul id="dropdown2" class="right dropdown-content ">
      <li><a href="#!">56130500254</a></li>
      <li><a href="index.html">Logout</a></li>
    </ul>
</nav>



  <!-- <a class="mobile">MENU</a> -->


  <div id="container">
    <div class="sidebar grey darken-4">
      <ul id="nav">
        <li><a href="#">My Drive</a></li>
        <li><a href="#">Share with me</a></li>
      </ul>
    </div>

    <div class="grey darken-4">
        <a href="#!" class="breadcrumb">&nbsp;&nbsp;First</a>
        <a href="#!" class="breadcrumb">Second</a>
        <a href="#!" class="breadcrumb">Third</a>
    </div>

    <div class="content" ng-controller="AppCtrl">
      <table class="centered responsive highlight">
       <thead>
         <tr>
             <th data-field="name">Name</th>
             <th data-field="name">Owner</th>
             <th data-field="integer">File size</th>
         </tr>
       </thead>

       <tbody>
         <tr ng-repeat="file in containerlist">
          <td>{{file.filename}}</td>
          <td>{{}}</td>
          <td>{{file.size}} KB</td>
           <td>
             <a class="tooltipped modal-trigger" href="#modal3" data-position="bottom" data-delay="50" data-tooltip="Share with group"><i class="material-icons">people</i></a>
             <a class="tooltipped" ng-click="remove(file._id)" data-position="bottom" data-delay="50" data-tooltip="Delete"><i class="material-icons">delete</i></a>
             <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Download"><i class="material-icons">file_download</i></a>
           </td>
         </tr>
       </tbody>
     </table>


    </div>

     <div class="fixed-action-btn horintal" style="bottom: 45px; right: 24px;">
     <a class="btn-floating btn-large red">
       <i class="large material-icons">add</i>
     </a>
     <ul>
       <li>
         <a class="btn-floating btn tooltipped green btn modal-trigger" href="#modal5" data-position="top" data-delay="50" data-tooltip=" Upload file">
            <i class="material-icons">file_upload</i>
         </a>

       </li>
       <li><a class="btn-floating btn tooltipped green btn modal-trigger" href="#modal1" data-position="top" data-delay="50" data-tooltip=" New folder">
          <i class="material-icons">create_new_folder</i>
          </a>
       </li>
     </ul>
   </div>
</div>
 

    <!--pop up share link-->
        <div id="modal2" class="modal">
          <div class="modal-content">
            <h4>Share link</h4>
            <div class="row">
              <div class="input-field col s12">
                <input value="www.google.com" id="first_name2" type="text" class="validate">
              </div>
            </div>
          </div>
        </div>
    <!--pop up share with group-->
        <div id="modal3" class="modal">
          <div class="modal-content">
            <h4>New folder</h4>
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email" data-error="wrong" data-success="right">Email</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
          </div>
        </div>

   <!--pop up new folder-->
   <div id="modal1" class="modal">
     <div class="modal-content">
       <h4>New folder</h4>
       <div class="row">
         <div class="input-field col s12">
           <input value="" id="first_name2" type="text" class="validate">
           <label class="active" for="first_name2">Folder name</label>
         </div>

       </div>
     </div>
     <div class="modal-footer">
       <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Create</a>
       <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
     </div>
   </div>

   <!--pop up new file-->
   <div id="modal5" class="modal"  >
     <div class="modal-content">
       <h4>Upload file</h4>
           <input name ='userFile' type = "file"/>
         <button>Upload</button>
     </div>
    
   </div>
   <!---------------------------------------------upload ng----------------------------------->

   <!---------------------------------------------end upload ng----------------------------------->



  <script type="text/javascript">
  	$(document).ready(function(){
       $("a.mobile").click(function(){
        $(".sidebar").slideToggle('fast');
       });

      window.onresize = function(event) {
        if($(window).width() > 480){
        	$(".sidebar").show();
        }
      };

      $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
      });
      $(document).ready(function(){
        $('.scrollspy').scrollSpy();
      });
  	 });

  </script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
<script src="controllers/dashboard_ctrl.js"></script>
</html>
